.navbar-brand {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
}

.first-nav {
  margin-right: 15px;
}

.navbar {
  padding: 1rem 2rem;
}

.navbar-brand > i {
  color: $red;
  padding-right: 5px;
}

