// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  margin: 1.5rem 0;
}

h2 {
  font-size: 25px;
  margin: 0;
}

// Flex Cards
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column > img {
  height: 300px;
  position: relative;
}

.index-container {
  margin: 1rem 5rem;
}

.column > * {
  width: 100%;
  flex-direction: row;
}

.column {
  padding: 5px;
  height: 360px;
}

.col-2 {
  flex: 1 1 auto;
}

.score {
  display: flex;
  flex-direction: row;
  position: relative;
}

.score > p {
  margin-top: 5px;
}

.rt-score {
  position: absolute;
  right: 0.6rem;
  font-size: 17px;
}

.mc-score {
  position: absolute;
  left: 0.6rem;
  font-size: 17px;
  color: white;
  border-radius: 5px;
  padding: 5px 12px;
}

// Bookmark
.bookmark-card > img {
  height: 350px;
}

.bookmark-card {
  margin: 10px;
  width: 19rem;
  text-align: left;
  padding: 5px 0;
}

.bookmark-card > h2 {
  padding: 10px 10px 10px 0px;
}

.bookmark-card > img {
  width: 100%;
  object-fit: contain;
}

.show-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

.form-new {
  margin: 25px auto;
  width: 400px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-buttons {
  left: 50%;
  top: 50%;
}

.saved {
  width: 200px;
}
